<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pay Page</title>
    <script>
        function responseCallBack(e){ 
        if(e.data.message== "success"){
            console.log("Success payment", e.data )
        }else if(e.data.message == "failure"){
            console.log("Failure payment", e.data )
        }else{
            //console.log("Other Actions", e.data )
        }
      }
           if (window.addEventListener) {
             addEventListener("message", responseCallBack, false)
         } else {
             attachEvent("onmessage", responseCallBack)
         }
      </script>
  </head>
  <body>

<h1>
  <% if(order){%>
    <%= order.hash %>
  <% }%>
</h1>

<a target="_blank" href="<%= hppUrl %>"> Click to check Hosted Payment Page Form </a>

<script id="kashier-iFrame"
src="<%= order.baseUrl%>/js/kashier-checkout.js"
data-amount="<%=order.amount%>"
data-description="description"
data-hash="<%=order.hash%>"
data-currency="<%=order.currency%>"
data-orderId="<%=order.merchantOrderId%>"
data-merchantId="<%=order.mid%>"
data-merchantRedirect="http://localhost:9000/callback"
data-store = "essam"
data-type = "external" data-display="en" >

 </script> 
</body>

</html>
